core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
README_2.md
README_3.md
README_4.md
README.md
README_template.md
README_1.md