core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
README_2.md
README_3.md
README_4.md
README.md
README_template.md
README_1.md
jupyter_notebooks/01_Data_Preparation(edit).ipynb
jupyter_notebooks/02_Data_Visualization(edit).ipynb
jupyter_notebooks/03_Model_Training_and_Evaluation(edit).ipynb
models/cherry_leaf_model-2.h5
jupyter_notebooks/03_Model_Training_and_Evaluation(edit2).ipynb